---
import Nav from '../components/Nav.astro';

const title = '404 | Aidan Bennett';
const description = 'Page not found';
const url = 'https://aidanjbennett.com/404';
---

<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' href='/favicon.svg' />

		<!--SEO-->
		<meta name='robots' content='noindex' />

		<!--Open Graph-->
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:url' content={url} />
		<meta property='og:type' content='website' />
		<meta name='generator' content={Astro.generator} />

		<!--Twitter-->
		<meta name='twitter:site' content='@aidanjbennett' />
		<meta name='twitter:creator' content='@aidanjbennett' />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={description} />
		<meta name='twitter:url' content={url} />
		<title>404 | Aidan</title>

		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		
	</head>
</html>
<body class='h-screen bg-gradient-to-r from-violet-300 to-fuchsia-300'>
	<Nav />
	<div class='text-center text-4xl'>
		<h1 class='font-bold pt-10'>404 | Page not found</h1>
		<a class='hover:underline' href='/'>Return to safety</a>
	</div>
</body>
